@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "MLCD";
    src: url(./../public/mlcd.ttf);
}

:root {
    --nav-height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: transparent;
    -webkit-tap-highlight-color: transparent;
    font-family: Manrope;
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: none;
    color: #040711;
}

body {
    background-color: #eeeef2;
    color: #040711;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.circle {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 1007;
    pointer-events: none;
    mix-blend-mode: difference;
    background-color: #f7f8fa;
    transition: width 0.3s cubic-bezier(0.13, 0.41, 0.11, 1.34),
        height 0.3s cubic-bezier(0.13, 0.41, 0.11, 1.34),
        mix-blend-mode 0.3s cubic-bezier(0.13, 0.41, 0.11, 1.34),
        text-align 0.3s cubic-bezier(0.13, 0.41, 0.11, 1.34),
        border-radius 0.3s cubic-bezier(0.13, 0.41, 0.11, 1.34),
        padding 0.3s cubic-bezier(0.13, 0.41, 0.11, 1.34),
        transform 0.3s cubic-bezier(0.13, 0.41, 0.11, 1.34);
}

.nav {
    display: flex;
    position: fixed;
    top: 25px;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0%);
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    width: 80vw;
    height: var(--nav-height);
}

.nav > .backbox{
    width: var(--nav-height);
    height: var(--nav-height);
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.nav > .backbox > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html:not([data-scroll="0"]) .nav > .backbox, html:not([data-scroll="0"]) .nav > .titlebox {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 11px 12px 0px;
}

/* title */
.titlebox {
    width: calc(100% - var(--nav-height) - 20px);
    height: var(--nav-height);
    margin-left: 20px;
    background-color: #fff;
    border-radius: 104px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlebox > .titletext {
    font-size: 2rem;
    font-family: MLCD;
}

.hover-text,
.non-hover-text {
    position: absolute;
    text-wrap: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s cubic-bezier(0.13, 0.41, 0.11, 1.34);
}

.hover-text {
    transform: translate(-50%, -250%);
    pointer-events: none;
}