@media only screen and (max-width: 962px) {
    .brief > .briefnotes {
        width: 40%;
    }

    .brief > .brieftext{
        width: calc(60% - 12px);
    }

    .slick-slide > div {
        height: 200px;
    }

    .reviewtext {
        font-size: 1.3rem;
        padding: 20px;
    }

    .reviewauthor {
        font-size: 1rem;
    }
}